
body {
  background-color: rgb(103, 207, 221);
}
.navbar .navbar-nav .nav-link:hover {
  background-color: rgb(139, 143, 143);
}
* {
  margin: 0;
  padding: 0;
}

.titles {
  text-align: center;
}
#title {
  font-family: "messi";
  font-size: 40px;
  letter-spacing: 0.5;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#principal {
  font-family: "principal";
  font-size: 100px;
  color: rgb(255, 255, 255);
}
#secondary {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
.imagenes {
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 450px;
  display: block;
}


